[Desktop Entry]
Encoding=UTF-8
Name=Link to C1S1A2.c
Type=Link
URL=https://dl-web.dropbox.com/get/%21%21%21%21%21%21%20%20PhD%20%20%20%21%21%21%21%21/Smart%20Environment%20Framework/Code/feb/coap-service-layer/C1S1A2.c?w=AAASxd6N2KbxVHwvUoCWc4teUX3SZN8aByBMS8S2IBVC1w
Icon=text-html
